.DS_Store
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.gz
*.synctexgz
*.fls
*.fdb_latexmk
*.synctex(busy)
*.bkp
.idea/
cargo
target/
*.backup
build/
data/
experiment_results.csv
lab_04_11.txt
examples/
__pycache__/
parametrization_class1.txt
samples/
files_with_errors/
lab_05/result
lab_05/logs
lab_05/graphs/

